.TableHeaderRow * {
  box-sizing: border-box;
}

.TableHeaderRow {
  display: inline-flex;

  align-items: center;

  height: 30px;

  font-size: var(--size-text-xs);
}

.TableHeaderRow__full-width {
  width: max-content;
}

.TableHeaderRow__header {
  border-bottom: 1px solid var(--color-bg-border);
}

.TableHeaderRow_highlighted {
  background-color: var(--color-control-bg-active) !important;
}
