.FEMTableWrapper * {
  box-sizing: border-box;
}

.FEMTableWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.FEMTableWrapper__table {
  counter-reset: rowNumber;

  position: sticky;

  display: block;
  height: 100%;
  overflow-x: auto;
  border-collapse: collapse;

  font-size: var(--size-text-s);
}

.FEMTableWrapper__table thead {
  position: sticky;
  top: 0;
  z-index: 2;

  display: block;
  width: fit-content;
  background-color: var(--color-bg-default);

  font-size: var(--size-text-xs);
  color: var(--alabaster-light);
}

.FEMTableWrapper__table thead th {
  font-weight: 400;
  height: var(--control-height-s);
  max-height: var(--control-height-s);
  white-space: nowrap;
}

.FEMTableWrapper__table thead tr th:first-of-type,
.FEMTableWrapper__table tbody tr td:first-of-type {
  position: sticky;
  left: 0;

  display: inline-grid;
  width: var(--space-2xl);
  min-width: var(--space-2xl);
  height: var(--space-2xl);
  max-height: var(--space-2xl);

  background-color: var(--color-bg-default);
  text-align: right;
  border-right: 2px solid var(--color-bg-border);
}

.FEMTableWrapper__table thead tr th:not(:first-of-type) {
  min-width: calc(var(--space-6xl) - var(--space-xs));
  border-bottom: 1px solid var(--color-bg-border);

  text-align: right;
}

.FEMTableWrapper__table thead tr th:nth-child(n+4) {
  padding-right: var(--space-xs);

  border-right: 1px solid var(--color-bg-border);
}

.FEMTableWrapper__table thead tr th:nth-of-type(2) {
  position: sticky;
  left: var(--control-height-s);

  min-width: calc(4 * (var(--space-6xl) - var(--space-xs)));
  padding-left: var(--space-s);

  background-color: var(--color-bg-default);
  box-shadow: 2px 0 1px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.FEMTableWrapper__table tbody tr {
  position: sticky;

  display: table-row;
  height: var(--control-height-s);
  max-height: var(--control-height-s);
}

.FEMTableWrapper__table tbody tr td:nth-child(2) {
  position: sticky;
  left: var(--control-height-s);

  background-color: var(--color-bg-default);
  box-shadow: 2px 0 1px rgba(0, 0, 0, 0.25);
}

.FEMTableWrapper__table tbody tr td:nth-child(3) {
  min-width: calc(var(--space-6xl) - var(--space-xs));
  max-width: calc(var(--space-6xl) - var(--space-xs));
}

.FEMTableWrapper__table tbody tr:nth-child(odd) td:nth-child(n+3){
  background-color: var(--color-bg-stripe);
}

.FEMTableWrapper__table tr td:first-of-type::before {
  position: relative;
  top: 6px;

  content: counter(rowNumber);
  counter-increment: rowNumber;
  height: var(--control-height-s);
  max-height: var(--control-height-s);
  padding-right: var(--space-xs);

  font-size: var(--size-text-xs);
  color: var(--alabaster-light);
}

.FEMTableWrapper__table tbody tr td:not(:first-of-type)
.FEMTableWrapper__table tbody tr td:not(:nth-child(n+4)) {
  min-width: calc(var(--space-6xl) - var(--space-xs));
}

.FEMTableWrapper__table tbody tr td:last-of-type {
  border-right: none;
}

.FEMTableWrapper__value {
  min-width: calc(var(--space-6xl) - var(--space-xs));
  max-width: calc(var(--space-6xl) - var(--space-xs));
  padding-right: var(--space-xs);

  border-right: 1px solid var(--color-bg-border);
  text-align: right;
  color: var(--alabaster);
}

.FEMTableWrapper__table tr td:nth-of-type(2) {
  min-width: calc(4 * (var(--space-6xl) - var(--space-xs)));
  width: calc(4 * (var(--space-6xl) - var(--space-xs)));
  max-width: calc(4 * (var(--space-6xl) - var(--space-xs)));
  padding-left: var(--space-s);

  color: var(--alabaster);
}

.FEMTableWrapper__node {
  font-weight: 600;
}

.FEMTableWrapper__sub-node {
  padding-left: var(--space-l) !important;
}

.FEMTableWrapper__table tbody tr td:not(:first-of-type) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
