.FEMTableCell {
  min-width: calc(var(--space-6xl) - var(--space-xs));
  max-width: calc(var(--space-6xl) - var(--space-xs));
  padding-right: var(--space-xs);

  overflow: hidden;
  border-right: 1px solid var(--color-bg-border);
  text-align: right;
  color: var(--alabaster);
  cursor: text;
}

.FEMTableCell:not(.FEMTableCell_editing):hover {
  background-color: var(--color-control-bg-clear-hover) !important;
  border-bottom: 1px solid var(--color-control-bg-border-focus);
}

.FEMTableCell_editing {
  padding-right: 0;

  border: 2px solid var(--color-control-bg-border-focus);
  border-radius: 2px;
}

.FEMTableCell_editing .TextField {
  border: none;
  min-height: auto;
}



