.TableCell {
  position: relative;
  min-width: calc(var(--space-6xl) - var(--space-xs));

  /* max-width: calc(var(--space-6xl) - var(--space-xs)); */
  padding-right: var(--space-xs);

  overflow: hidden;
  border-right: 1px solid var(--color-bg-border);
  text-align: right;
  color: var(--alabaster);
  cursor: text;
}

.TableCell:not(.TableCell_editing):hover {
  background-color: var(--color-control-bg-clear-hover) !important;
  border-bottom: 1px solid var(--color-control-bg-border-focus);
}

.TableCell_editing {
  padding-right: 0;

  border: 2px solid var(--color-control-bg-border-focus);
  border-radius: 2px;
}

.TableCell_editing .TextField {
  border: none;
  min-height: auto;
}

.TableCell__selected {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-control-bg-border-focus);
  border-radius: 2px;
}

.TableCell__selected-handler {
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 6px;
  height: 6px;
  background: var(--color-control-bg-border-focus);
  border-radius: 2px;
}
