.MacroparameterSetPlaceholder {
  padding: var(--space-xs) var(--space-m) var(--space-s) var(--space-s);

  border-right: 1px solid var(--color-bg-secondary);
}

.MacroparameterSetPlaceholder .Text {
  display: flex;
  align-items: center;
  text-align: center;
}
