.EditArticleModal__header {
  border-bottom: 1px solid var(--color-bg-secondary);
}

.EditArticleModal__full-width-row {
  grid-template-columns: 50%;
  grid-row-gap: var(--space-s);
}

.EditArticleModal__full-width-field {
  grid-column-end: span 2;
}

.EditArticleModal__text-field {
  margin-top: 0;
}

.EditArticleModal__footer-row {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.VegaModal__Overlay {
  border: none;
}
