.TableCell2 {
  display: inline-flex;

  align-items: center;

  width: 88px;
  min-width: 88px;

  height: 100%;

  color: var(--alabaster);
}

.TableCell2__border-bottom {
  border-bottom: 1px solid var(--color-bg-border);
}

.TableCell2__border-right {
  border-right: 1px solid var(--color-bg-border);
}

.TableCell2__no-padding {
  padding: 0 !important;
}

.TableCell2__first-column {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;

  box-sizing: border-box;
  width: var(--space-2xl);
  min-width: 32px;

  height: 100%;

  /* background-color: var(--color-bg-default); */
  text-align: right;

  border-right: 2px solid var(--color-bg-border);
}

.TableCell2__second-column {
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);

  width: 420px;
}

.TableCell2__second-column * {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.TableCell2__second-column_group {
  font-weight: 600;

  cursor: pointer;

  color: var(--color-control-typo-primary);
}

.TableCell2__second-column_article {
  padding-left: var(--space-l);

  opacity: 0.8;
}

.TableCell2__empty {
  border-bottom: none;
}

.TableCell2_isNull {
  font-weight: 400 !important;

  color: var(--color-typo-ghost) !important;
}

.TableCell2__full-width {
  width: 100%;
}

.TableCell2__column-header {
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);

  justify-content: space-between;

  color: var(--alabaster-light);
}

.TableCell2__column-header_additionalColumn {
  padding-right: 0;
}

.TableCell2__value {
  padding-right: var(--space-xs);

  justify-content: flex-end;

  font-size: var(--size-text-s);
}

.TableCell2_group-value {
  font-weight: 500;

  color: var(--color-typo-primary);
}

.TableCell2__editable:hover {
  cursor: text;

  background-color: var(--color-control-bg-clear-hover) !important;
  border-bottom: 1px solid var(--color-control-bg-border-focus);
}
